html, body {
    height: 100%;
    min-height: 500px;
}
body {
    color: #fff;
    background: red;
    
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    
    position: relative;
    overflow: hidden;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.logo {
    width: 220px;
    margin-top: 30px;
}

.error-text {
    line-height: 28px;
    /*margin-top: 30px;*/
}

.tels {
    @extend .error-text;

    margin-top: 7px;
}
.tel {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    
    &:hover {
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
    &:first-child {
        margin-right: 5px;
    }
    &:last-of-type {
        margin-left: 5px;
    }
}

.footer {
    position: absolute;
    bottom: 30px;
    width: 100%;

    font-size: 14px;
}

/*
	Glitchy Text from https://css-tricks.com/glitch-effect-text-images-svg/

  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
@mixin textGlitch($name, $intensity, $textColor, $background, $highlightColor1, $highlightColor2, $width, $height) {
  
  color: $textColor;
  position: relative;
  $steps: $intensity;
  
  // Ensure the @keyframes are generated at the root level
  @at-root {
    // We need two different ones
    @for $i from 1 through 2 {
      @keyframes #{$name}-anim-#{$i} {
        @for $i from 0 through $steps {
          #{percentage($i*(1/$steps))} {
            opacity: random(1);
            clip: rect(
              random($height)+10+px,
              $width+px,
              random($height)+px,
              0
            );
          }
        }
      }
    }
  }
  &:before,
  &:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $background;
    clip: rect(0, 0, 0, 0); 
  }
  &:after {
    left: 2px;
    text-shadow: -1px 0 $highlightColor1;
    animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
  }
  &:before {
    left: -2px;
    text-shadow: 2px 0 $highlightColor2; 
    animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
  }
  
}

.glitch {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    margin: 110px auto 0 auto;
    font-size: 180px;
    font-weight: bold;
    line-height: 180px;
    @include textGlitch("glitch", 17, #fff, transparent, darkblue, #999, 1084, 195);
}
@media (max-width: 767px) {
   .glitch {
        margin: 50px auto 0 auto;
        font-size: 100px;
        line-height: 110px;
        @include textGlitch("glitch", 17, #fff, transparent, darkblue, #999, 900, 125);
   }
}




.inifinity {
    
    
    
    position: absolute;
    top: -60%;
    left: -60%;
    background: #000 url('/i/500-back.png') no-repeat center / 70%;
    width: 220%;
    height: 220%;

    z-index: -1;
}


.inifinity {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 360s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;

  -moz-animation-name: rotate;
  -moz-animation-duration: 360s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from { -webkit-transform:rotate(0deg); }
  to {  -webkit-transform:rotate(360deg); }
}

@-moz-keyframes rotate {
  from { -moz-transform:rotate(0deg); }
  to { -moz-transform:rotate(360deg); }
}