

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');


html, body {

  font-family: 'PT Sans', sans-serif;
  color: #fff;
}

.main-form {
  h3 {
    color: #fff;
  }

  form {
    color: #fff;

    .help-block {
      color: #fff;
    }
  }
}
.btn-additional {
  border-color: #fff;
  color: #fff;

  &:hover,
  &:active,
  &:focus {
    border-color: #fff;
    color: #fff;
  }
}


.main-form__additional-driver {
  .close-form {
    background: transparent url(./i/close-white.svg) no-repeat center !important;
  }
}
.main-form__additional-auto {
  @extend .main-form__additional-driver;
}

.order-form {
  .price {
    color: #fff;
  }
}