.btn-blue {
  background-image: linear-gradient(-180deg, #009EFF 4%, #0286C8 100%);
  box-shadow: 0px 4px 7px 0px rgba(52,128,166,0.40);
  border-radius: 3px;
  padding: 15px 20px;
  border: 0;

  font-size: 18px;
  color: #FFF;

  &:hover {
    background-image: linear-gradient(-180deg, #43B6FD 6%, #0270B0 97%);
    box-shadow: 0px 4px 7px 0px rgba(52,128,166,0.40);
    border-radius: 3px;
    color: #FFF;
    border: 0;
  }
  &:active {
    background-image: linear-gradient(-180deg, #0371B1 4%, #43B6FD 98%);
    border-radius: 3px;
    box-shadow: none;
    border: 0;
    color: #FFF;
  }
  &:focus {
    background-image: linear-gradient(-180deg, #0371B1 4%, #43B6FD 98%);
    border-radius: 3px;
    box-shadow: none;
    border: 0;
    color: #FFF;
  }
  &:disabled {
    background: #999;
    box-shadow: none;
  }
}

.btn_transparent {
  border: 1px solid #0099E6;
  border-radius: 3px;
  padding: 15px 20px;
  background: transparent;

  font-size: 16px;
  color: #0099E6;

  &:hover {
    border: 1px solid #0366B4;
  }
}