html, body {
  height: 100%;
  min-height: 500px; }

body {
  color: #fff;
  background: red;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  position: relative;
  overflow: hidden; }

a:hover {
  text-decoration: none; }

.logo {
  width: 220px;
  margin-top: 30px; }

.error-text, .tels {
  line-height: 28px;
  /*margin-top: 30px;*/ }

.tels {
  margin-top: 7px; }

.tel {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  .tel:hover {
    color: #fff;
    border-bottom: 1px solid white; }
  .tel:first-child {
    margin-right: 5px; }
  .tel:last-of-type {
    margin-left: 5px; }

.footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  font-size: 14px; }

/*
	Glitchy Text from https://css-tricks.com/glitch-effect-text-images-svg/

  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
.glitch {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin: 110px auto 0 auto;
  font-size: 180px;
  font-weight: bold;
  line-height: 180px;
  color: #fff;
  position: relative; }
@keyframes glitch-anim-1 {
  0% {
    opacity: 1;
    clip: rect(101px, 1084px, 187px, 0); }
  5.88235% {
    opacity: 1;
    clip: rect(202px, 1084px, 144px, 0); }
  11.76471% {
    opacity: 1;
    clip: rect(98px, 1084px, 34px, 0); }
  17.64706% {
    opacity: 1;
    clip: rect(99px, 1084px, 149px, 0); }
  23.52941% {
    opacity: 1;
    clip: rect(170px, 1084px, 108px, 0); }
  29.41176% {
    opacity: 1;
    clip: rect(130px, 1084px, 170px, 0); }
  35.29412% {
    opacity: 1;
    clip: rect(74px, 1084px, 69px, 0); }
  41.17647% {
    opacity: 1;
    clip: rect(201px, 1084px, 77px, 0); }
  47.05882% {
    opacity: 1;
    clip: rect(45px, 1084px, 46px, 0); }
  52.94118% {
    opacity: 1;
    clip: rect(79px, 1084px, 128px, 0); }
  58.82353% {
    opacity: 1;
    clip: rect(97px, 1084px, 163px, 0); }
  64.70588% {
    opacity: 1;
    clip: rect(115px, 1084px, 139px, 0); }
  70.58824% {
    opacity: 1;
    clip: rect(146px, 1084px, 29px, 0); }
  76.47059% {
    opacity: 1;
    clip: rect(55px, 1084px, 24px, 0); }
  82.35294% {
    opacity: 1;
    clip: rect(171px, 1084px, 83px, 0); }
  88.23529% {
    opacity: 1;
    clip: rect(161px, 1084px, 7px, 0); }
  94.11765% {
    opacity: 1;
    clip: rect(195px, 1084px, 58px, 0); }
  100% {
    opacity: 1;
    clip: rect(32px, 1084px, 62px, 0); } }
@keyframes glitch-anim-2 {
  0% {
    opacity: 1;
    clip: rect(151px, 1084px, 6px, 0); }
  5.88235% {
    opacity: 1;
    clip: rect(141px, 1084px, 92px, 0); }
  11.76471% {
    opacity: 1;
    clip: rect(124px, 1084px, 106px, 0); }
  17.64706% {
    opacity: 1;
    clip: rect(14px, 1084px, 107px, 0); }
  23.52941% {
    opacity: 1;
    clip: rect(181px, 1084px, 157px, 0); }
  29.41176% {
    opacity: 1;
    clip: rect(148px, 1084px, 88px, 0); }
  35.29412% {
    opacity: 1;
    clip: rect(51px, 1084px, 87px, 0); }
  41.17647% {
    opacity: 1;
    clip: rect(166px, 1084px, 44px, 0); }
  47.05882% {
    opacity: 1;
    clip: rect(57px, 1084px, 29px, 0); }
  52.94118% {
    opacity: 1;
    clip: rect(90px, 1084px, 110px, 0); }
  58.82353% {
    opacity: 1;
    clip: rect(49px, 1084px, 166px, 0); }
  64.70588% {
    opacity: 1;
    clip: rect(161px, 1084px, 157px, 0); }
  70.58824% {
    opacity: 1;
    clip: rect(181px, 1084px, 144px, 0); }
  76.47059% {
    opacity: 1;
    clip: rect(11px, 1084px, 104px, 0); }
  82.35294% {
    opacity: 1;
    clip: rect(110px, 1084px, 7px, 0); }
  88.23529% {
    opacity: 1;
    clip: rect(45px, 1084px, 60px, 0); }
  94.11765% {
    opacity: 1;
    clip: rect(90px, 1084px, 63px, 0); }
  100% {
    opacity: 1;
    clip: rect(197px, 1084px, 179px, 0); } }
  .glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    clip: rect(0, 0, 0, 0); }
  .glitch:after {
    left: 2px;
    text-shadow: -1px 0 darkblue;
    animation: glitch-anim-1 2s infinite linear alternate-reverse; }
  .glitch:before {
    left: -2px;
    text-shadow: 2px 0 #999;
    animation: glitch-anim-2 3s infinite linear alternate-reverse; }

@media (max-width: 767px) {
  .glitch {
    margin: 50px auto 0 auto;
    font-size: 100px;
    line-height: 110px;
    color: #fff;
    position: relative; }
  @keyframes glitch-anim-1 {
    0% {
      opacity: 1;
      clip: rect(23px, 900px, 82px, 0); }
    5.88235% {
      opacity: 1;
      clip: rect(55px, 900px, 62px, 0); }
    11.76471% {
      opacity: 1;
      clip: rect(58px, 900px, 121px, 0); }
    17.64706% {
      opacity: 1;
      clip: rect(101px, 900px, 16px, 0); }
    23.52941% {
      opacity: 1;
      clip: rect(49px, 900px, 85px, 0); }
    29.41176% {
      opacity: 1;
      clip: rect(14px, 900px, 33px, 0); }
    35.29412% {
      opacity: 1;
      clip: rect(104px, 900px, 110px, 0); }
    41.17647% {
      opacity: 1;
      clip: rect(12px, 900px, 17px, 0); }
    47.05882% {
      opacity: 1;
      clip: rect(61px, 900px, 48px, 0); }
    52.94118% {
      opacity: 1;
      clip: rect(73px, 900px, 71px, 0); }
    58.82353% {
      opacity: 1;
      clip: rect(132px, 900px, 70px, 0); }
    64.70588% {
      opacity: 1;
      clip: rect(21px, 900px, 1px, 0); }
    70.58824% {
      opacity: 1;
      clip: rect(117px, 900px, 9px, 0); }
    76.47059% {
      opacity: 1;
      clip: rect(133px, 900px, 25px, 0); }
    82.35294% {
      opacity: 1;
      clip: rect(26px, 900px, 65px, 0); }
    88.23529% {
      opacity: 1;
      clip: rect(75px, 900px, 56px, 0); }
    94.11765% {
      opacity: 1;
      clip: rect(90px, 900px, 85px, 0); }
    100% {
      opacity: 1;
      clip: rect(118px, 900px, 14px, 0); } }
  @keyframes glitch-anim-2 {
    0% {
      opacity: 1;
      clip: rect(14px, 900px, 46px, 0); }
    5.88235% {
      opacity: 1;
      clip: rect(77px, 900px, 28px, 0); }
    11.76471% {
      opacity: 1;
      clip: rect(28px, 900px, 110px, 0); }
    17.64706% {
      opacity: 1;
      clip: rect(28px, 900px, 52px, 0); }
    23.52941% {
      opacity: 1;
      clip: rect(17px, 900px, 50px, 0); }
    29.41176% {
      opacity: 1;
      clip: rect(91px, 900px, 90px, 0); }
    35.29412% {
      opacity: 1;
      clip: rect(100px, 900px, 104px, 0); }
    41.17647% {
      opacity: 1;
      clip: rect(71px, 900px, 8px, 0); }
    47.05882% {
      opacity: 1;
      clip: rect(117px, 900px, 110px, 0); }
    52.94118% {
      opacity: 1;
      clip: rect(34px, 900px, 44px, 0); }
    58.82353% {
      opacity: 1;
      clip: rect(31px, 900px, 18px, 0); }
    64.70588% {
      opacity: 1;
      clip: rect(128px, 900px, 62px, 0); }
    70.58824% {
      opacity: 1;
      clip: rect(83px, 900px, 117px, 0); }
    76.47059% {
      opacity: 1;
      clip: rect(96px, 900px, 61px, 0); }
    82.35294% {
      opacity: 1;
      clip: rect(118px, 900px, 112px, 0); }
    88.23529% {
      opacity: 1;
      clip: rect(18px, 900px, 2px, 0); }
    94.11765% {
      opacity: 1;
      clip: rect(60px, 900px, 22px, 0); }
    100% {
      opacity: 1;
      clip: rect(125px, 900px, 97px, 0); } }
    .glitch:before, .glitch:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: transparent;
      clip: rect(0, 0, 0, 0); }
    .glitch:after {
      left: 2px;
      text-shadow: -1px 0 darkblue;
      animation: glitch-anim-1 2s infinite linear alternate-reverse; }
    .glitch:before {
      left: -2px;
      text-shadow: 2px 0 #999;
      animation: glitch-anim-2 3s infinite linear alternate-reverse; } }
.inifinity {
  position: absolute;
  top: -60%;
  left: -60%;
  background: #000 url("/i/500-back.png") no-repeat center/70%;
  width: 220%;
  height: 220%;
  z-index: -1; }

.inifinity {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 360s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 360s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

/*# sourceMappingURL=500.css.map */
